# Postgres
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_SERVER="postgres"
POSTGRES_PORT="5432"
DATABASE_NAME="#######"

# Flask
FLASK_PORT=5000
#FLASK_ENV="development"
FLASK_ENV="production"
SECRET_KEY="Something_secret_goes_here"

# Discord
DISCORD_ADMIN_USER_ID="#######"  # Used in the entrypoint.sh
DISCORD_REDIRECT_URI="BASE_URL_HERE/callback"
DISCORD_CLIENT_ID="#######"
DISCORD_CLIENT_SECRET="#######"
DISCORD_BOT_TOKEN="#######"

# DB Setup in Docker Container
SETUP_TYPE="setup" # To setup a new blank db
#SETUP_TYPE="update" # To update from the 2025 DB without clearing user progress

# Latest Year
YEAR=2026
KEY2025="KEY_HERE"
KEY2026="DIFFERENT_KEY_HERE"
# ... etc for all released years