{% extends "default.html" %}

{% block title %} Challenge Champions {% endblock %}

{% block main %}
<section class="section" id="announcement">
  <div class="img-container">
    <img src="{{ url_for('static', filename='images/good_job.png') }}" alt="Congratulations Image">
  </div>
  <div>
  <h2>Congratulations</h2>
    
  <h3>
    <form method="POST" style="display:inline;">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <span class="year-select-wrapper">
        <select name="year" class="year-select"
          onchange="sessionStorage.setItem('scrollY', window.scrollY); this.form.submit();">
          {% for y in range(config.CURRENT_YEAR, 2024, -1) %}
            {% set y_str = y|string %}
            <option value="{{ y_str }}" {% if y_str == year %}selected{% endif %}>
              {{ y }}
            </option>
          {% endfor %}
        </select>
      </span>
    </form>
    Champions
  </h3>

    <p>everyone who completed both parts of all 10 weeks!</p>

    <ul>
    {% for i in range(champions|length) %}
      <li>
        {% if githubs[i] %}
        <a href="https://github.com/{{ githubs[i] }}" target="_blank" rel="noopener noreferrer nofollow" >
          {{ champions[i] }} <i class="devicon-github-original"></i>
        </a>
        {% else %}
        <span class="false-link">
            {{ champions[i] }}
        </span>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</section>
<section class="section" id="all_scores">
  <div id="score-dialog-root"></div>
  <div>
    <h2>
      All
      <form method="POST" style="display:inline;">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <span class="year-select-wrapper">
        <select name="year" class="year-select"
          onchange="sessionStorage.setItem('scrollY', window.scrollY); this.form.submit();">
          {% for y in range(config.CURRENT_YEAR, 2024, -1) %}
            {% set y_str = y|string %}
            <option value="{{ y_str }}" {% if y_str == year %}selected{% endif %}>
              {{ y }}
            </option>
          {% endfor %}
        </select>
      </span>
      </form>
      Progress
    </h2>
    <table>
      <tr>
        <td>1</td><td>2</td><td>3</td><td>4</td><td>5</td>
        <td>6</td><td>7</td><td>8</td><td>9</td><td>10</td>
        <td style="border-right:none; text-align:center;">User</td>
      </tr>
    {% for item in all_data %}
    <tr>
      {% for week in item.progress %}
        <td>
        {%- for c in week -%}
          <span class="{{ 'off' if c == '☆' else 'on' }} lg">{{ c }}</span>
        {%- endfor -%}
        </td>
      {% endfor %}
      <td style="border-right:none; text-align:left;">
        <span class="b {{ 'false-link' if item.id == session.get('user_data', {}).get('id') else '' }}">
          {{ item.name }}
        </span>
      </td>
    </tr>
    {% endfor %}
    </table>
  </div></br>
  <p>
    <button onclick="location.href='/'">
      Home
    </button>
  </p>
</section>

<script>
  window.addEventListener("load", function () {
    const scrollY = sessionStorage.getItem("scrollY");
    if (scrollY !== null) {
      window.scrollTo(0, parseInt(scrollY, 10));
      sessionStorage.removeItem("scrollY");
    }
    document.body.style.visibility = "visible";
  });
</script>
{% endblock %}