{% extends "default.html" %} {% block title %} Login {% endblock %} {% block
main %}
<section class="section" id="announcement">
  <div class="img-container">
    <img
      src="{{ url_for('static', filename='images/login.png') }}"
      alt="Login Image"
    />
  </div>
  <div>
    <h2>Login with Discord</h2>
    <h3>What this means:</h3>
    <p>
      Logging into your Discord account will save your progress with completed
      challenges on this site.
    </p>
    <p>
      Additionally, if you are also a member of
      <a href="https://discord.gg/H2V9Fd2sfD"
        >the Practical Python Discord Server</a
      >, this app gives you access to help channels, and private discussion
      threads for each challenge after solving.
    </p>
    <p>
      This site, and Practical Python, does not store any of your data in its
      database apart from your username/id, and your progress with these
      challenges. We promise that your personal information is never kept on
      file.
    </p>
    <button onclick="location.href = '/login'">Login</button>
  </div>
  <br />
  <p>
    <button onclick="location.href = '/'">Home</button>
  </p>
</section>
{% endblock %}
