<div>
  <p>
    Hello out there. It's me, Captain Xarlos of the STS Solara. You were on her
    crew, right?
  </p>
  <p>
    The strangest thing has happened. One moment we were
    <a href="{{ url_for('main.release', year=2025) }}" target="_blank">
      stopping the Aurawroughts from breaking Eos out of her cosmic prison</a
    >, and the next, I find myself in this thick, eerie jungle.
  </p>
  <p>
    Something's wrong. I can't find the ship. I can't find the crew. I don't
    even know where… or even
    <span class="b">when</span>… we are.
  </p>
  <p>
    If this transmission reached you, the Solara's systems must have found a way
    to briefly link us across whatever world we've landed in. I don't understand
    it, but I do know one thing: your Python skills might be key to setting all
    of this… whatever this is… right.
  </p>
  <p>
    Will you help me? I could use a partner. The universe isn't going to fix
    itself.
  </p>
</div>
